<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
    <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Sisteme Giriş</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <div class="form-group">
        <input type="email" id="userName"  formControlName="userName" [(ngModel)]="user.userName" class="form-control" placeholder="Username" required autofocus>
        <!-- <div class="alert alert-danger" *ngIf="loginForm.get('userName').hasError('required') && loginForm.get('userName').dirty">Kullanıcı Adı girmelisiniz!</div> -->
    </div>
    <label for="inputPassword" class="sr-only">Password</label>
    <div class="form-group">
        <input type="password" id="inputPassword"  formControlName="inputPassword" [(ngModel)]="user.password" class="form-control" placeholder="Password" required>
        <!-- <div class="alert alert-danger" *ngIf="loginForm.get('inputPassword').hasError('required') && loginForm.get('inputPassword').dirty">Şifre girmelisiniz!</div> -->
    </div>
    
    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="loginForm.invalid">Giriş Yap</button>
    <div class="alert alert-danger" *ngIf="isWrong">Kullanıcı adı veya şifre yanlış!!!</div>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
</form>


